body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.myGrid {
    width: 1200px;
    height: 400px;
    align-items: center;
  }
.inbox{
    align-content: center;
}