<div class="modal-header">
    <h3 class="modal-title">Login and Role Selection</h3>
</div>
<div class="modal-body">

    <div class="input-group">
        <input type="text" ng-model="modalController.name" class="form-control" aria-label="..." placeholder="Enter Name, e.g. John Doe">
        <div class="input-group-btn">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> {{modalController.ddTitle}} <span class="caret"></span></button>
            <ul class="dropdown-menu dropdown-menu-right">
                <li><a ng-click="modalController.roleSelected('Terminologist')" href="#">Terminologist</a></li>
                </li>
                <li><a ng-click="modalController.roleSelected('Technical Specialis')" href="#">Technical Specialist</a></li>
                <li><a ng-click="modalController.roleSelected('Project Controller')" href="#">Project Controller</a></li>
                <li><a ng-click="modalController.roleSelected('Terminology SME')" href="#">Terminology SME</a></li>
                <li role="separator" class="divider"></li>
                <li><a ng-click="modalController.roleSelected('Admin')" href="#">Admin</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="modalController.ok()">Submit</button>
    <button class="btn btn-warning" type="button" ng-click="modalController.cancel()">Cancel</button>
</div>