<div class="row">

    <div class="col-lg-6">
        <button uib-tooltip="Validate" class="btn btn-default" ui-sref="validation" ng-disabled="inboxController.isDisabled" ng-click="inboxController.validate()" type="button">
            <span class="glyphicon glyphicon-eye-open"></span>
        </button>
        <button class="btn btn-default" ng-click="inboxController.edit()" ng-switch on="inboxController.isDisabled" type="button">
            <span uib-tooltip="Edit" class="glyphicon glyphicon-pencil" ng-switch-when="false"></span>
            <span uib-tooltip="Save" class="glyphicon glyphicon-floppy-disk" ng-switch-when="true"></span>
        </button>
        <button uib-tooltip="Export" class="btn btn-default" ng-disabled="inboxController.isDisabled" ng-click="inboxController.export()" type="button">
            <span class="glyphicon glyphicon-file"></span>
        </button>
        <button uib-tooltip="Report" class="btn btn-default" ng-disabled="inboxController.isDisabled || !inboxController.isRowSelected" ng-click="inboxController.report()" type="button">
            <span class="glyphicon glyphicon-flag"></span>
        </button>
        <button uib-tooltip="Refresh" class="btn btn-default" ng-disabled="inboxController.isDisabled" ng-click="inboxController.refreshInbox()" type="button">
            <span class="glyphicon glyphicon-refresh"></span>
        </button>
    </div>

    <div class="col-lg-6">
        <div class="input-group">
            <input type="text" class="form-control" ng-model="inboxController.searchFilterValue" placeholder="Search for...">
            <span class="input-group-btn">
                <button uib-tooltip="Search" class="btn btn-default" ng-click="inboxController.filter()" type="button">
            <span class="glyphicon glyphicon-search"></span>
            </button>
            <button uib-tooltip="Clear" class="btn btn-default" ng-click="inboxController.resetFilter()" type="button">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
            </span>
        </div>
    </div>
</div>

<br>

<div class="row">
    <div class="col-lg-12">
        <div ui-grid="inboxController.gridOptions" ui-grid-selection ui-grid-exporter class="myGrid"></div>
    </div>
</div>